<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ Telecom</title>
</head>
<body>
    <!-- Header starts. -->
     <header>
         <app-header></app-header>
     </header>
    <!-- Header ends. -->

    <!-- Main section starts. -->
    <main>
        <div class="row">
            <div id="register-for-new-wifi">
                <a routerLink="/new-connection-request">Register for new wifi connection.</a>
            </div>
            <div id="proceed-with-your-order">
                <a routerLink="/proceed-with-order">Proceed with your order</a>
            </div>
            <div id="change-plan">
                <a routerLink="/change-plan">Change plan.</a>
            </div>
            <div id="raise-complaint">
                <a routerLink="/raise-complaint">Raise complaint.</a>
            </div>
        </div>
    </main>
    <!-- Main ends. -->

    <!-- Footer starts. -->
    <footer>
        <app-footer></app-footer>
    </footer>
    <!-- Footer ends. -->
</body>
</html>